<div class="top-panel brown-border">
    {% include "topPanel\\leftPart\\leftPart.html.twig" %}
    {% include "topPanel\\centralPart\\centralPart.html.twig" %}
    {% include "topPanel\\rightPart\\rightPart.html.twig" %}
</div>
{# links for "top\leftButtons.html.twig"
#}



{# links for "top\leftButtons.html.twig"
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/topPanel.css">

    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/leftButtons.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/AddBookBtn.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/AddUserBtn.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/AddToReadLaterBtn.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/AddToFavoriteBtn.css">
#}

{# links for "top\centerElements.html.twig"
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/centerElements.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/SearchFields.css">
    <link rel="stylesheet" type="text/css" href="styles/htmlTemplates/top/userInfo.css">
#}