<div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="row collapse navbar-collapse top-panel height-top-panel">
        {% include "topPanel\\leftPart\\leftPart.html.twig" %}
        {% include "topPanel\\centralPart\\centralPart.html.twig" %}
        {% include "topPanel\\rightPart\\rightPart.html.twig" %}
    </div>
</div>
<div class="navbar-height"></div>
