<div class="top-panel blue-border">
    {% include "topPanel\\leftPart\\leftPart.html.twig" %}
    {% include "topPanel\\centralPart\\centralPart.html.twig" %}
    {% include "topPanel\\rightPart\\rightPart.html.twig" %}
</div>