.top-panel
{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    height: 74px;
    background-color: #cfcece;
}

.height-top-panel
{
    height: 72px;
}

.left-part
{
    width: 34%;
}

.right-part
{
    width: 34%;
}

.central-part
{
    width: 30.8%;
}