.top-panel
{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.white-text
{
    color: white;
}

.navbar-height
{
    height: 64px;
}


.height-top-panel
{
    height: 48px;
}

.line-height-top-panel
{
    line-height: 48px;
}

.left-part
{
    width: 34%;
    box-sizing: border-box;
    float: left;

    padding: 0px;
}

.right-part
{
    width: 34%;
    float: right;
}

.central-part
{
    width: 30.8%;
}