<div class="bookList">
    <div class="bookListTitle">{{ bookListTitle }}</div>
    <p>bookList</p>




    <table id="bookGrid" class="display" cellspacing="2" border='1'>
        <thead>
            <tr>
                <th>ID</th>

            </tr>
        </thead>
        <tbody style='cursor:pointer;'>
            {% for bookCard in bookCards %}
            <tr>
                <td>1</td>

            </tr>
        </tbody>
    </table>

</div>
{# links for "top\leftButtons.html.twig"
#}
