<div class="user-list">
    <p>userList</p>

    <table id="user-table" class="display" cellspacing="2" border='1'>
        <thead>
        <tr>
            <th>ID</th>
            <th>College</th>
        </tr>
        </thead>
        <tbody style='cursor:pointer;'>
        <tr>
            <td>1</td>
            <td>University departments of Anna University Chennai</td>
        </tr>

        </tbody>
    </table>
</div>
