.bookList
{
    width: 100%;
    text-align: center;
}

.bookListTitle
{
    width: 100%;
}

.bookGrid
{

}

.bookCart
{
    width: 108px;
    hight: 195px;
}

.bookCart img
{
    text-align: center;
}
.bookCart .nameStr
{
    overflow: hidden;
}
