.book-list
{
    width: 100%;
    text-align: center;
}

.book-list-title
{
    width: 100%;
}

.book-grid
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.book-grid .book-grid_grid-cell
{

}

.book-grid_grid-cell__book-cart
{
    width: 160px;
    height: 240px;
    padding: 5px;
    border: 1px solid #D3D3D3;

    -moz-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box;
}

.book-grid_grid-cell__book-cart .book-cart__image-container
{
    width: 100%;
    text-align: center;
}

.book-grid_grid-cell__book-cart .image-container_book-image
{
    width: 120px;
    height: 170px;
    padding: 5px 0px 0px 5px;
}

.book-cart__name-str
{
    width: 150px;
    height: 40px;
    overflow: hidden;
}
