<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Шаблон</title>
    {% include "cssReference.html.twig" %}
</head>
<body>
    {{ errorMessage }}
    {% include "footer\\footer.html.twig" %}
</body>
</html>