.search-fields
{
    margin: 0;
}

.search-fields .search-btn
{
    width: 15%;

    float: left;
    margin-right: 1px;
}

.search-fields .search-text-field
{
    width: 54.5%;
}

.search-fields .search-category
{
    width: 28%;
    float: right;
}