.page-content
{
    max-width: 980px;
    margin: 0 auto;

    outline: 2px;
    outline-color: #000000;
}

.left-panel
{
}

.right-panel
{
}

.central-panel
{
}

.inline-block
{
    display: inline-block;
}

.align-to-center
{
    text-align: center;
}
