.page-content-container
{
    width: 100%;
}

.page-content
{
    max-width: 980px;
    margin: 0 auto 0;

}

.left-panel
{
}

.right-panel
{
}

.central-panel
{
}

.inline-block
{
    display: inline-block;
}

.align-to-center
{
    text-align: center;
}
