<div class="central-part height-top-panel inline-block blue-text">
    {% if pageName == "search_book" %}
        {% include "topPanel\\centralPart\\searchFields\\searchFields.html.twig" %}
    {% endif %}
</div>

