<div class="centralPart heightTopPanel inlineBlock border">
    {% if pageName == "bookCatalog" %}
        {% include "topPanel\\centralPart\\searchFields\\searchFields.html.twig" %}
    {% endif %}
</div>

