<div class="col-2 right-panel inline-block">
    {% if pageName == "book_page" %}
        {% include "pageContent\\rightPanel\\ownersAndReadUsers\\ownersAndReadUsers.html.twig" %}
    {% endif %}
</div>
