<div class="rightPanel inlineBlock">
    {% include "pageContent\\rightPanel\\bookLists\\bookLists.html.twig" %}
    {% include "pageContent\\rightPanel\\ownersAndReadUsers\\ownersAndReadUsers.html.twig" %}
</div>
{# links for "top\leftButtons.html.twig"
#}
