<div class="right-panel inline-block border">
    {% if pageName == "book_page" %}
        {% include "pageContent\\rightPanel\\ownersAndReadUsers\\ownersAndReadUsers.html.twig" %}
    {% else %}
        {% include "pageContent\\rightPanel\\bookLists\\bookLists.html.twig" %}
    {% endif %}
</div>
{# links for "top\leftButtons.html.twig"
#}
