.left-part
{
    box-sizing: border-box;
    float: left;

    width: 50%;
    padding: 0px;
}

.left-part .left-part__element-list
{
    margin: 0px;
    padding-left: 0px;
    line-height: 38px;
    width: 120%;
}

.left-part .left-part__element-list li
{
    display: inline;
    float: left;
    margin: 5px;
    text-align: center;
}