.owners-and-read-users
{
    height: 200px;
}

.owners-and-read-users .owners-and-read-users__user-data-container-title
{
    margin-top: 5px;
}

.owners-containers
{
    height: 200px;
}

.owner-list
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.white-container
{
    padding-top: 0.15rem;
    padding-right: 0.25rem;
    padding-bottom: 0.15rem;
    padding-left: 0.25rem;

    background-color: #fff;
    border: 1px solid rgba(0,0,0,.23);
}

.owner-list td
{
    width: 100%;
    height: 58px;
}


.user-data-container
{
    width: 100%;
    height: 58px;
}

.user-data-container .user-data-container__image-container
{
    width: 54px;
    height: 54px;

}

.user-data-container .user-data-container__image-container img
{
    width: 50px;
    height: 50px;
    margin: 2px;
}

.user-data-container .user-data-container__image-container .send_application_image
{
    width: 24px;
    height: 24px;
    margin-top: -42px;
    cursor: pointer;
}


.owner-name-container
{
    width: 60%;
    height: 54px;
    float: right;

}

.owner-name-container .owner-name-container__owner-name
{

    height: 20px;
    padding-top: 17px;
}

.read-users-container
{
    height: 200px;
}


.read-user-list
{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.read-user-list td
{
    width: 100%;
    height: 58px;
}


.read-user-container
{
    width: 100%;
    height: 58px;
}