<div class="searchFields">
    <input type="submit" class="SearchBtn" value="Поиск">
    <input maxlength="25" size="40" placeholder="Вводить сюда">
    <select>
        <option selected="selected">Название</option>
        <option>Автор</option>
    </select>
</div>

