<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" type="text/css" href="Table/styles/styles.css">
</head>
    <body>
        <table>
            {% for item in users %}
                <tr>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>