<li>
    <input type="submit" class="SearchBtn" value="Поиск">
</li>
<li>
    <input maxlength="25" size="40" placeholder="Вводить сюда">
</li>
<li>
    <select>
        <option selected="selected">Название</option>
        <option>Автор</option>
    </select>
</li>