.book-page-content__image-and-characteristics
{
    width: 100%;
}

.book-page-content__image-and-characteristics .image-container
{
    float: left;
}

.book-page-content__image-and-characteristics .image-container img
{
    width: 130px;
    height: 180px;
    margin: 10px;
}

.book-page-content__image-and-characteristics .book-page-content__characteristics-container
{
    width: 75%;
    float: right;
    margin-bottom: 0px;
}

.book-page-content__image-and-characteristics .book-page-content__characteristics-container th
{
    padding: .25rem;
    vertical-align: middle;
}


.book-page-content__characteristics-container .characteristics-container__title-container
{
    width: 40%;
    float: left;
}

.book-page-content__characteristics-container .characteristics-container__content-container
{
    width: 60%;
    float: right;
}

.book-page-content__amount
{
    padding: 5px;
}

.book-page-content__amount .amount-container
{
    list-style-type: none;
    margin: 4px;
    text-align: center;
    padding: 0px;
}

.description-container
{
    width: 75%;
    float: right;
    margin: 6px;
    padding: 0px 10px;
}