
{% if (notificationMessage != null) %}
    <script type="text/javascript">
        $(function(){
            setTimeout("document.getElementById('send-application-notification').style.display='block'", 0);
        });
    </script>
{% endif %}


<!-- Modal -->
<div class="modal send-application-notification" id="send-application-notification" role="dialog" onclick="document.getElementById('send-application-notification').style.display='block';">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title center-align">{{ notificationMessage }}</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="send-application-notification__button-container">
                    <a href="{{ serverUrl }}book_page?book_id={{ bookData.id }}">
                        <input type="submit" class="btn btn-secondary central-align" value="ะะบ" onclick="document.getElementById('send-application-notification').style.display='none';">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>