<div class="bookLists">
    <div class="pure-menu custom-restricted-width">
        <span class="pure-menu-heading">Списки книг</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Любимые книги</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Прочитать позже</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Личные книги</a></li>
        </ul>
    </div>
</div>
{# links for "top\leftButtons.html.twig"
#}
