<div class="left-part height-top-panel inline-block blue-text">
    <ul class="left-part__element-list list-style-type_none">
        {% if pageName == "circulation_books" %}
            {% include "topPanel\\leftPart\\circulationBookEdits\\circulationBookEdits.html.twig" %}
        {% elseif pageName == "user_list" %}
            {% include "topPanel\\leftPart\\userListEdits\\userListEdits.html.twig" %}
        {% elseif pageName == "page_book" %}
            {% include "topPanel\\leftPart\\bookPageEdits\\bookPageEdits.html.twig" %}
        {% endif %}
    </ul>
</div>