<div class="col-4 navbar navbar-default left-part">
    <ul class="nav navbar-nav left-part__element-list list-style-type_none">
        {% if pageName == "user_list" and (ownerId == currentUser.id) %}
            {% include "topPanel\\leftPart\\userListEdits\\userListEdits.html.twig" %}
        {% elseif pageName == "book_page" %}
            {% include "topPanel\\leftPart\\bookPageEdits\\bookPageEdits.html.twig" %}
        {% elseif pageName == "user_book_catalog" %}
            {% include "topPanel\\leftPart\\bookPageEdits\\userBookCatalogEdits.html.twig" %}
        {% endif %}
    </ul>
</div>