<li>
    <input type="submit" class="add-to-read-later-btn button-style" value="Добавить в 'Прочитать позже'">
</li>
<li>
    <input type="submit" class="add-to-favorite-later-btn button-style" value="Добавить книгу в 'Любимые'">
</li>
