<li>
    <b>Добавить в: </b>
</li>
<li>
    <a href="{{ serverUrl }}book_page?book_id={{ bookData.id }}&add_to_catalog=read_later">
        <input type="submit" class="btn btn-secondary add-to-read-later-btn" value="'Прочитать позже'">
    </a>
</li>
<li>
    <a href="{{ serverUrl }}book_page?book_id={{ bookData.id }}&add_to_catalog=favorite_books">
        <input type="submit" class="btn btn-secondary add-to-favorite-later-btn" value="'Любимые'">
    </a>
</li>
