<div class="col-8 central-panel central-element">
    {% if pageName == "search_book" %}
        {% include "pageContent\\centralPanel\\searchFields\\searchFields.html.twig" %}
    {% endif %}

    {% if pageName == "add_book_page" %}
        {% include "pageContent\\centralPanel\\addBook\\addBook.html.twig" %}
    {% elseif (pageName == "book_list") or (pageName == "search_book")  %}
        {% include "pageContent\\centralPanel\\bookList\\bookList.html.twig" %}
    {% elseif pageName == "book_page" %}
        {% include "pageContent\\centralPanel\\bookPageContent\\bookPageContent.html.twig" %}
    {% elseif pageName == "circulation_books" %}
        {% include "pageContent\\centralPanel\\circulateBookForm\\circulateBookForm.html.twig" %}
    {% elseif pageName == "user_list" %}
        {% include "pageContent\\centralPanel\\userList\\userList.html.twig" %}
    {% elseif pageName == "user_profile" %}
        {% include "pageContent\\centralPanel\\userProfile\\userProfile.html.twig" %}
    {% endif %}
</div>
