<div class="centralPanel">
    {% if pageName == "addBookPage" %}
        {% include "pageContent\\centralPanel\\addBook.html.twig" %}
    {% elseif pageName == "userList" %}

    {% elseif pageName == "pageBook" %}

    {% endif %}


    {% include "pageContent\\centralPanel\\bookList.html.twig" %}
    {% include "pageContent\\centralPanel\\bookPageContent.html.twig" %}
    {% include "pageContent\\centralPanel\\circulateBookForm.html.twig" %}
    {% include "pageContent\\centralPanel\\messages.html.twig" %}
    {% include "pageContent\\centralPanel\\userList.html.twig" %}
    {% include "pageContent\\centralPanel\\userProfile.html.twig" %}
</div>
{# links for "top\leftButtons.html.twig"
#}
