.left-part
{
    box-sizing: border-box;
    height: 70px;
    line-height: 60px;
    float: left;

    padding-left: 0px;
}

.left-part .left-part__element-list
{
    margin: 0px;
    padding-left: 10px;
}
.left-part .left-part__element-list li
{
    display: inline;
    float: left;
    margin: 5px;
    text-align: center;
}

