.left-part
{
    float: left;
}

.left-part .leftPart_element-list
{
    margin: 0px;
    padding-left: 20px;
    line-height: 60px;
}
.left-part .left-part_element-list li
{
    display: inline;
    float: left;
    margin: 5px;
}