.topPanel
{
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    height: 74px;
}

.heightTopPanel
{
    height: 72px;
}

.leftPart
{
    width: 34%;
}

.rightPart
{
    width: 34%;
}

.centralPart
{
    width: 30.8%;
}