.topPanel
{
    box-sizing: border-box;
    width: 100%;
    height: 65px;

    margin: 0 auto;
}

.leftPart
{
    width: 34%;
    height: inherit;
}

.rightPart
{
    width: 34%;
    height: inherit;
}

.centralPart
{
    width: 29%;
    height: inherit;
}