<div>
    <div class="container page-content central-element">
        <div class="row">
            {% include "pageContent\\leftPanel\\leftPanel.html.twig" %}
            {% include "pageContent\\centralPanel\\centralPanel.html.twig" %}
            {% include "pageContent\\rightPanel\\rightPanel.html.twig" %}
        </div>
    </div>
</div>
