<div class="pageContent">
    {% include "pageContent\\leftPanel\\leftPanel.html.twig" %}
    {% include "pageContent\\centralPanel\\centralPanel.html.twig" %}
    {% include "pageContent\\rightPanel\\rightPanel.html.twig" %}
</div>
{# links for "top\leftButtons.html.twig"
#}
