<div class="page-content central-element">
    {% include "pageContent\\leftPanel\\leftPanel.html.twig" %}
    {% include "pageContent\\centralPanel\\centralPanel.html.twig" %}
    {% include "pageContent\\rightPanel\\rightPanel.html.twig" %}
</div>
