<div class="user-info">
    <ul>
        {% if userLogin == true %}
            <li>
                <div class="avatar bold-blue-border">
                    <img src="avatars/{{ currentUser.avatar }}" width="150" height="150"></a>
                </div>
            </li>
            <li>
                <label for="UserFullName">{{ app.user.username }}</label>
            </li>
            <li>
                <input type="submit" class="log_out button-style" value="Выйти">
            </li>
        {% else %}
            <li>
                <input type="submit" class="log_in button-style" value="Войти">
            </li>
        {% endif %}
    </ul>
</div>

