<div class="user-options height-top-panel">
    <ul class="user-options__visible-info line-height-top-panel nav-item nav-link dropdown-toggle"
        href="http://example.com"
        id="dropdown02"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="true">
        <li>
            <a class="user-options__dropdown-toggle nav-link dropdown-toggle"
               href="http://example.com"
               id="dropdown02"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="true"></a>
        </li>
        <li>
            <div class="visible-info__avatar bold-blue-border">
                {% if currentUser.avatar != null %}
                    <img src="images/avatars/{{ currentUser.avatar }}""/>
                {% else %}
                    <img src="images/NoAvatar.png""/>
                {% endif %}
            </div>

        </li>
        <li>
            <label class="white-text" for="UserFullName">{{ app.user.username }}</label>
        </li>
    </ul>
    <div class="user-options__dropdown-menu dropdown-menu" aria-labelledby="dropdown02">
        <a class="dropdown-item" href="{{ serverUrl }}login">
            Выйти
        </a>
    </div>
</div>