.user-info {
    box-sizing: border-box;
    height: 70px;
    line-height: 60px;

    float: right;
}

.user-info ul
{
    margin: 0px;
}

.user-info li
{
    display: inline;  
    float: right;
    margin: 5px;
    text-align: center;
}

.user-info .avatar img{
    width: 60px;
    height: 60px;
}



