.html, body {
    background: white;
    margin: 0px;
}

.registration-form
{
    width: 300px;

    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: auto;

}

.container
{
    width: 100%;
}

.registration-form .registration-form__error-message-container
{

}

.registration-form .registration-form__text_boxes
{
    margin-left: auto;
    margin-right: auto;

    text-align: left;
}


.register-text-field
{
    width: 50%;
}

.registration-form__buttons
{
    margin-top: 10px;
    padding : 2px 4px 2px;
    height: 64px;
    
    text-align: center;
}

